.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 1.5rem;

    border-radius: 2rem;

    background-color: var(--raisin-black);
    
    width: clamp(300px, 100%, 400px);
    min-height: 340px;

    img {
        width: 5rem;
        height: 5rem;
    }

    .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 1.25rem;

        background-color: var(--black-coral);

        width: 5.5rem;
        height: 5.5rem;
    }
}

